html, body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
    margin: auto;
    height: 100%;
    color: #000000;
    font-size: 14px;
}

main {
    margin: 10px;
    height: 100%;
}

.flex-root {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
}

h1, h2, h3 {
    margin: 0;
}
  
h1, .big { 
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

h4, .medium {
    font-size: 18px;
}

h4 {
    margin-top: 0;
}

.small {
    font-size: 12px;
}

.muted-text {
    color: #666666;
}

.thin-text {
    font-family: Arial Narrow, Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.red-text {
    color: #cd0303;
}

ul, p {
    margin: 11px 0;
}

ul {
    padding-left: 20px;
}
  
a {
    text-decoration: none;
    color: #0066CC;
}

img {
    display: block;
    height: auto;
    margin: auto;
    max-width: 100%;
}

hr {
    border-top: 1px solid #CCCCCC;
}

li {
    margin-bottom: 10px;
}

.center-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.space-between-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inline {
    display: inline-block;
}

/* force the columns to wrap on desktop-sized screens
 and display items in a different order */
@media only screen and (min-width: 960px){
    html, body {
        max-width: 1050px;
    }

    .flex-root {
        min-height: 1100px;
        height: 100%;
    }

    .flex-cell {
        order: 1
    }

    .column-wrap-break {
        flex: 0 0 100%;
        order: 2;
    }

    .purchase-info, .general-info {
        order: 3
    }

    .reviews-wrapper {
        max-width: 500px;
    }
}